
/*$card-color: #fff;
$card-background: #0d1116;
$chip-background:#fff !important;
$chip-color: #272822;
$timeline-dot-size: 70px;
$timeline-divider-line-background: #fff, 1;*/
@forward 'vuetify/settings' with (
    // Component Vuetify SASS variable overrides.  See https://vuetifyjs.com/en/features/sass-variables/#variable-api

    // For example -- overriding button font capitalization (as seen at the bottom of the v-btn guide here https://vuetifyjs.com/en/api/v-btn/):
    $app-bar-background: $app-bar-background 
    /*$app-bar-background: $app-bar-background ,
    $app-bar-color: $app-bar-color,
    $card-color: $card-color,
    $card-background: $card-background,
    $chip-background: $chip-background,
    $chip-color: $chip-color,
    $timeline-dot-size: $timeline-dot-size,
    $timeline-divider-line-background: #fff,
    $timeline-divider-line-thickness: 4px,
    $text-field-affix-color: #fff,
    $footer-background: $card-background,
    $footer-color: $app-bar-color
    $app-bar-background: $app-bar-background ,
    $app-bar-color: $app-bar-color,*/
);